<p>First Name: <%= @student.first_name() %></p>
<p>Last Name: <%= @student.last_name() %></p>
<p>Age: <%= @student.age() %></p>
<p>House: <%= @house.name() %></p>
<img src="<%= @house.logo_url %>" width=50px></p>
